/*
Make It Creative IoT Workshop Style Sheet 2015
Author: Make It Creative
Version: 0.0.1
Date: May 13, 2015
*/


/*Typography*/

body { font: 26px Helvetica, Arial; text-align:center; line-height:32px;}

/*Background*/